body {
    background-color: #e9e3d8;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #9b7d61;
}

form button {
    padding: 12px;
    margin: 50px auto 0;
    border: none;
    background-color: #9b7d61;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #e9e3d8;
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #817060;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

li {
    margin: 0;
    display: inline;
}

ul .logo {
    width: 75px;
    height: auto;
    padding: 8px 10px;
}

li a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #e9e3d8;
    padding: 8px 10px;
    margin-top: 10px;
}

li a:hover {
    text-decoration: underline;
    color: #e9e3d8;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    background-color: #ffffff;
}

.product-image {
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    margin-right: 60px;
}

img {
    width: 100%;
    height: auto;
}

.product-details h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #9b7d61;
    padding-top: 5px;
    margin-top: 5px;
}

.product-details h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #9b7d61;
    padding-top: 5px;
    margin-top: 5px;
}

.product-details h6 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #9b7d61;
    padding-top: 5px;
    margin-top: 5px;
}

.product-details h7 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #9b7d61;
    padding-top: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.complete-order-form {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.complete-order-form button {
    width: auto; 
}

.total {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    background-color: #fff;
}

.total h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #9b7d61;
    padding-top: 5px;
    margin-top: 5px;
}

.total p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #9b7d61;
    padding-top: 5px;
    margin-top: 5px;
}