body {
    margin: 0;
    background-color: #e9e3d8;
    font-family: "Nunito Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

li {
    margin: 0;
    display: inline;
}

ul .logo {
    width: 75px;
    height: auto;
    padding: 8px 10px;
}

li a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #e9e3d8;
    padding: 8px 10px;
    margin-top: 10px;
}

li a:hover {
    text-decoration: underline;
    color: #e9e3d8;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
}

.product-details {
    flex: 2;
    min-width: 300px;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #9b7d61;
    margin: 0;
}

p {
    padding-top: 20px;
    font-size: 16px;
    color: #9b7d61;
}

.product-details ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.product-details li {
    margin: 0;
}

.product-details h4 {
    margin: 0;
}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button {
    padding: 12px;
    border: none;
    background-color: #9b7d61;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #e9e3d8;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

    button:hover {
        background-color: #8a6b4e;
    }

label {
    font-size: 18px;
    color: #9b7d61;
}

#quantity {
    width: 80px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #9b7d61;
    font-size: 16px;
    color: #9b7d61;
    box-sizing: border-box;
    background-color: #fff;
}

    #quantity:focus {
        outline: none;
        border-color: #7a5b46;
    }

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .product-image, .product-details {
        margin: 0;
        min-width: auto;
    }

    .product-details {
        margin-top: 20px;
    }
}