html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  /*display: flex;*/
  height: 100vh;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.signin-page {
    display: flex;
}

.image {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    /*justify-content: flex-start;*/
}

.image img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.login-container {
    width: 600px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 0;
}

.tabs {
    display: flex;
}

.label {
    flex: 1;
    padding: 15px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.label:hover {
    background-color: #e0e0e0;
}

input[name="tab"] {
    display: none;
}

form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #CEC3B9;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    font-size: 16px;
}

/*input[name="tab"]:checked + .tabs .label {
    background-color: #ffffff;
    border-bottom: 2px solid #4caf50; 
}*/

.content {
    padding: 20px;
}

.content > div {
    display: none;
}

input[name="tab"]:nth-of-type(1):checked ~ .content .login-content,
input[name="tab"]:nth-of-type(2):checked ~ .content .signup-content {
    display: block;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #CEC3B9;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #9B7D61;
    border: none;
    border-radius: 4px;
    color: #E9E3D8;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #817060;
}